In [1]:
km=float(input("enter length in km "))
km_to_mile = 0.621371*km
print ("%0.2f km to miles is %0.2f"%(km,km_to_mile))

cel=float(input("enter temperature in celsius "))
far = ((cel*9)/5) + 32
print ("%0.2f Celsius in Fahrenheit is %0.2f" %(cel,far))

enter length in km 2
2.00 km to miles is 1.24
enter temperature in celsius 2
2.00 Celsius in Fahrenheit is 35.60

Sol 1) This is an empty list

Sol 2)

In [7]:
spam=[2,4,6,8,10]
spam.insert(2,'hello')
spam

[2, 4, 'hello', 6, 8, 10]

Sol 3,4,5)

In [13]:
spam=['a','b','c','d']

In [14]:
spam[int(int('3'*2)/11)]

'd'

In [16]:
spam[-1]

'd'

In [21]:
spam[:2]

['a', 'b']

Sol 6,7,8)

In [29]:
bacon=[3.14, 'cat', '11' , 'cat' , 'True']

In [30]:
bacon.index('cat')

1

In [31]:
bacon.append(99)

In [32]:
bacon

[3.14, 'cat', '11', 'cat', 'True', 99]

In [33]:
bacon.remove('cat')
bacon

[3.14, '11', 'cat', 'True', 99]

Sol 9) List concatenation operator is '+' and list replication operator is '*'.

Sol 10) Append method is used when we want to add an item to a list at the end.Whereas insert method is used to insert a value at any position in the list.

Sol 11) Two methods for removing items from a list are:
    1. remove() method.
    2. pop() method

Sol 12) List and string both values are identical as both are sequential collection of data items.

Sol 13) List is mutable whereas tuple is immutable.List consumes more memory while tuple consumes less memory.

Sol 14) Tuple with one value can be shown as it should have a value with a comma.Eg: t=(a,)

In [39]:
t=(42,)
type(t)

tuple

Sol 15) List to tuple and tuple to list:

In [40]:
l=[2,3,4,5,6]
t=tuple(l)

In [41]:
t

(2, 3, 4, 5, 6)

In [42]:
list(t)

[2, 3, 4, 5, 6]

Sol 15) They contain reference to list values

Sol 16)

In [44]:
import copy
l1=['a',23,43,[2,4,6],23]
l2=copy.copy(l1)
l3=copy.deepcopy(l1)

In [45]:
l1

['a', 23, 43, [2, 4, 6], 23]

In [46]:
l2

['a', 23, 43, [2, 4, 6], 23]

In case of deep copy, a copy of object is copied in other object. It means that any changes made to a copy of object do not reflect in the original object. Whereas in copy changes made are reflected to original object